@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0.25em 0.3em;
  background-color: #00000060;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
  margin: 1em 0;
  padding: 0.5em 10px;
  font-style: italic;
  color: #555;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.ProseMirror h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

.ProseMirror h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.75em 0;
}

.ProseMirror h3 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.83em 0;
}

.ProseMirror ul li {
  margin: 0.5em 0;
}

.ProseMirror ol li {
  margin: 0.5em 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.spin-on-hover:hover {
  animation: spin 0.3s linear;
}
